canvas {
    border: 1px solid #000;
    margin: auto;
    background-color: aliceblue;
    display: block;
}

.container{
    width: 1000px;
    margin: auto;
    background-color: rgb(236, 236, 236);
}